* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  .App{
    height: 100%;
    width: auto;
    
  }

  .Box{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    background-color:rgb(37, 37, 37);
    height: 100vh;
    width: 100%;
    padding-bottom: 7%;
  }
  
  #Card-Box{
    background-color: white;
    width: 85%;
    height: 75%;
    padding: 10px;
  }
  
  .Card-Number{
    display: flex;
    justify-content:flex-end;
  }
  
  .Card-Info{
    padding-left: 10%;
  }
  
  .Card-Name{
    text-decoration: underline #26a5ff;
    padding-left: 10%;
    margin-bottom: 2%
    
  }

  #fav-movies{
    margin-top: 3%;
  }

  #Header{
  box-sizing: border-box;
  display: flex;
  background-color: rgb(42, 171, 226);
  height: 10vh;
  width: 100%;
  align-items: center;
  padding: 0 5%;
  font-size: 13.8px;
  }
  
  #Home{
    font-weight: bold;
  }
  
  #top{
    display: flex;
    flex-direction: row;
  }
  
  #movie-list{
    padding-left: 10%;
    margin-top: 2%;
  }

  .button{
    display: inline-block;
    width: auto;
  }
  

  #previous-button {
    text-align: left;
    margin-top: 5%;
    background: none;
    border: none;
    color: white;
    font: bolder;
  }

  #next-button {
    text-align: right;
    margin-top: 5%;
    background: none;
    border: none;
    color: white;
    font: bolder;
  }